.form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.formContainer {
  align-self: center;
  width: 500px;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
